
.topicGif {
	float: left;
	margin: .8em;
}

.container {
	height: 100%;
	width: 100%;
}

/* Margin for buttons on top */
.topic {
	margin: 5px;
}

/* topic buttons turn red on click */
button.topic:focus {
	background: red;
}

